*.m4 linguist-detectable=false
Makefile.* linguist-detectable=false
*.am linguist-detectable=false
*.in linguist-detectable=false
*.sh linguist-detectable=false
config.guess linguist-detectable=false
compile linguist-detectable=false
configure linguist-detectable=false
config.rpath linguist-detectable=false
install-sh linguist-detectable=false
depcomp linguist-detectable=false
missing linguist-detectable=false
mkinstalldirs linguist-detectable=false
config.sub linguist-detectable=false
